body{
    background-color: rgb(100,200,100);
}
h1{
    font-family:cursive;
    font-weight: 900;
    text-align: center;
    padding-top: 5%;
    font-size: 7rem;
    font-stretch:wider;
}
.Player{
    display: inline-block;
    text-align: center;
}
.img1,.img2{
   width : 40%;
}
.container{
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;
}